@import url('https://fonts.googleapis.com/css?family=Comfortaa:300');
body {
  font-family: 'Comfortaa', sans-serif;
  color: #000;
  background-image: url("https://hyperdevelopers.github.io/styles/flat,800x800,075,t.u2.jpg");
}
#main {
  position: fixed;
  height: 100%;
  top: 0px;
  background-color: #fff;
  left: 25%;
  right: 25%;
  bottom: 0px;
  text-align: center;
}
#footer {
  bottom: 0px;
  width: 100%;
  height: 30px;
  background-color: #333;
  left: 0px;
  right: 0px;
  color: #fff;
}
a {
  text-decoration: none;
  color: rich midtone blue;
}
a:hover {
  color: rich midtone cyan;
}
a.foot {
  color: #fff;
  text-decoration: none;
}
